---
layout: default
title:
description:
permalink: "/publications"
---

<h3 style="position: relative">Publications
    <span style="font-size: 0.6em; font-weight: normal; right: 0; position: absolute; top: 10px;">
        download as:
            <b>
                <a href="https://api.zotero.org/groups/2770680/collections/YREG49H9/items?format=bibtex"
                   download="DataMin.bibtex">bibtex</a>
                <a href="https://api.zotero.org/groups/2770680/collections/YREG49H9/items?format=csv"
                   download="DataMin.csv">csv</a>
            </b>
    </span>
</h3>

<link rel="stylesheet" href="/assets/css/publications.css">

<style>
    html {
       scroll-behavior: smooth;
    }
    h4[id] {
      scroll-margin-top: 108px;
    }
    div.year-row-delimiter {
        height: 0px;
        width: calc(100% - 17px);
        border-top: 1px solid transparent;
        position: relative;
        margin: 10px 0 35px 0;
    }
    div.year-row-delimiter > h4 {
        position: absolute;
        top: 5px;
        right: -18px;
        color: lightgray;
    }
</style>
<script>
    $(function() {
        $('body')
            .attr('data-spy', 'scroll')
            .attr('data-target', '#navbar-year-pubs')
            .attr('data-offset', '110')
            .attr('tabindex', '0')
            .css('position', 'relative');
    });
</script>

{% assign pubs_by_year = site.data.zotero | group_by_exp: "pub", "pub.date | slice: 0, 4" %}
{% assign all_members = site.data.members.xai | concat: site.data.members.alumni | concat: site.data.members.others %}

<nav id="navbar-year-pubs" class="navbar navbar-light bg-light px-3"
     style="position: sticky; top: 0; z-index: 1000; margin-bottom: 20px">
    <ul class="nav nav-pills">
        {% for year in pubs_by_year %}
        <li class="nav-item">
            <a class="nav-link {% if foorloop.first %} active{% endif %}" href="#pubs-{{ year.name }}">{{ year.name
                }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<div>
    {% for year in pubs_by_year %}
    <div class="year-row-delimiter">
        <h4 id="pubs-{{ year.name }}">{{ year.name }}&nbsp;&nbsp;•</h4>
    </div>

    <div class="row"
         style="display: flex; flex-wrap: wrap; border-right: 2px solid lightgray; width: calc(100% + 13px)">
        {% for pub in year.items %}
        <div class="col-sm-4">
            {% include components/publication_card.html pub=pub all_members=all_members %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>